In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split

In [3]:
train=pd.read_csv('titanic/train.csv')
test=pd.read_csv('titanic/test.csv')
gender_submission=pd.read_csv('titanic/gender_submission.csv')
data=pd.concat([train,test],sort=False)

In [4]:
data['Sex'].replace(['male','female'],[0,1],inplace=True)
data['Fare'].fillna(np.mean(data['Fare']),inplace=True)
data['Age'].fillna(data['Age'].median(),inplace=True)
data['Embarked'].fillna('S',inplace=True)
data['Embarked']=data['Embarked'].map({'S':0,'C':1,'Q':2}).astype(int)

In [5]:
delete_columns=['Name','PassengerId','SibSp','Parch','Ticket','Cabin']
data.drop(delete_columns,axis=1,inplace=True)

In [6]:
train=data[:len(train)]
test=data[len(train):]

In [7]:
y_train=train['Survived']
X_train=train.drop('Survived',axis=1)
X_test=test.drop('Survived',axis=1)

In [8]:
from sklearn.linear_model import LogisticRegression

clf=LogisticRegression(penalty='l2',solver='sag',random_state=0,max_iter=10000)
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)

In [9]:
sub=pd.read_csv('titanic/gender_submission.csv')
sub['Survived']=list(map(int,y_pred))
sub.to_csv('submission_01.csv',index=False)

In [10]:
data

     Survived  Pclass  Sex   Age      Fare  Embarked
0         0.0       3    0  22.0    7.2500         0
1         1.0       1    1  38.0   71.2833         1
2         1.0       3    1  26.0    7.9250         0
3         1.0       1    1  35.0   53.1000         0
4         0.0       3    0  35.0    8.0500         0
..        ...     ...  ...   ...       ...       ...
413       NaN       3    0  28.0    8.0500         0
414       NaN       1    1  39.0  108.9000         1
415       NaN       3    0  38.5    7.2500         0
416       NaN       3    0  28.0    8.0500         0
417       NaN       3    0  28.0   22.3583         1

[1309 rows x 6 columns]